@import "../../../../division-project/scss/imports/_config.scss";
@import "../../../../division-project/scss/imports/_mixins.scss";



table.meetings{
	border-collapse: separate;
	width: 100%;
}

table.meetings th {
	font-size: 1.3em;
	color: #333;
	border-top: none;
}

table.meetings a{
	display: inline-block;
}
