@import "../../../../division-project/scss/imports/_config.scss";
@import "../../../../division-project/scss/imports/_mixins.scss";



table.meetings{
	border-collapse: separate;
	width: 100%;
}

table.meetings th {
	font-size: 1.3em;
	color: #333;
	border-top: none;
}

table.meetings a{
	display: inline-block;
}

.initiatives-title {
	clear: both;
}
.initiatives-list {
	font-size: 0.1px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: justify;
}
.initiatives-list:after { /* http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
	content: '';
	display: inline-block;
	width: 100%;
}
.initiatives-list li {
	@include rem(15);
	margin: 3px;
	vertical-align: top;
	text-align: left;
	@media screen and (min-width: $break-small) {
		float: left;
		width: 49%;
		padding: 0;
	}
	@media screen and (min-width: $break-medium) {
		
	}
}
.initiatives-list .filler {
	height: 0;
	margin: 0;
}
.initiatives-img {
	width: 100%;
}
.initiatives-link {
	display: block;
	margin-bottom: 0;
	position: relative;
}
.initiatives-link:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.initiatives-link:hover:before {
	border: 4px solid $yellow;
}
.initiatives-name {margin: 0;}
.initiatives-position {
	display: block;
}
.initiatives-name {
	margin: 0;
}

.NoLogo {
		position: absolute;
		font-family: "proxima-nova-condensed", sans-serif;
		padding-left: 2em;
		padding-right: 2em; 
		padding-top: 22%;
		font-size: 1.5rem;
		color: white; 
		font-weight: bold;
		text-transform: uppercase; 
		text-align: center;
		line-height: 1em; 
		width: 100%;
	@media screen and (min-width: $break-small) {
		padding-top: 21%;
		font-size: 1.2rem;
		color: white; 
	}
	@media screen and (min-width: 586px) {
		font-size: 1.5rem;
	}
	@media screen and (min-width: 1132px) {
		padding-left: .4em;
		padding-right: .4em;
		padding-top: 20%;
		font-size: 2rem;
	}
}

.main-content.initiatives {
	padding: 0;
	margin: 0;
}

.initiatives-content {
	@media screen and (min-width: 768px){
		background: #fff;
		border-right: 1px solid #ddd;
		width: 72%;
		position: relative;
		padding: 2em 1em 3em 2em;
		float: left;
	}
}